<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이때 namespace는 각각의 mapper를 구분하는 고유명이 된다 -->
<mapper namespace="com.shopping.mappers.member">

	<!-- mapper 태그 사이에 필요한 sql 쿼리를 작성한다 -->
	
	<insert id="signUp" parameterType="com.shopping.dto.Member">
		INSERT INTO shop_member (userId, userPw, userName, birthday, gender, email, phone)
		VALUES (#{userId}, #{userPw}, #{userName}, #{birthday}, #{gender}, #{email}, #{phone});
	</insert>
	
	<select id="login" resultType="com.shopping.dto.Member">
		SELECT userId, userPw, userName, birthday, gender, email, phone, userRegDate
		  FROM shop_member
		 WHERE userId = #{userId}
		   AND userPw = #{userPw};
	</select>

</mapper>